.flag {
    width: 450px;
    height: 200px;
    border: 1px solid;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.color1 {
    /* width: 100%; */
    /* height: 33%; */
    flex: 1;
    background-color: red;
}

.color2{
    /* width: 100%; */
    /* height: 33%; */
    flex: 1;
    background-color: white;
}

.color3 {
    /* width: 100%; */
    /* height: 33%; */
    flex: 1;
    background-color: blue;
}