.flag {
    width: 450px;
    height: 200px;
    background-color: blue;
    display: flex;
    border: 1px solid;
    flex-direction: column;
}

.color1 {
    width: 100%;
    height: 50%;
    background-color: white;
}

.color2 {
    width: 100%;
    height: 50%;
    background-color: red;
}